{
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 140,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto"
}
