<div class="form-container col-lg-12">
    <h1 class="h1-strong">{{ title }}</h1>

    <div *ngIf="status === FormStatus.Invalid" class="alert alert-danger">
        <div>
            <span>Info: {{ errMsg }}</span>
        </div>
    </div>

    <div class="people">
        <div *ngFor="let user of users">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-item user-image pull-left">
                        <a href="#">
                            <div *ngIf="user?.image">
                                <img alt="" src="{{ api + '/user/image/' + user.image }}" />
                            </div>
                            <div *ngIf="!user?.image">
                                <img alt="" src="assets/img/default-avatar.png" />
                            </div>
                        </a>
                    </div>
                    <div class="panel-item user-name pull-left">
                        <a href="#">
                            <div class="name">
                                <span>{{ user.name }} {{ user.surname }}</span>
                            </div>
                            <div class="nick">
                                <small> {{ user.nick }}</small>
                            </div>
                        </a>
                    </div>
                    <div class="panel-item user-name pull-right">
                        <button *ngIf="!isUserLogged(user) && !isFollowing(user)" class="btn btn-success" (click)="createFollow(user._id)">
                            <span><em class="bi bi-plus-circle-fill"></em></span>
                            <span>Follow</span>
                        </button>
                        <button
                            *ngIf="!isUserLogged(user) && isFollowing(user)"
                            class="btn"
                            [ngClass]="user._id === followUserOver ? 'btn-danger' : 'btn-primary'"
                            (mouseenter)="mouseEnter(user)"
                            (mouseleave)="mouseLeave()"
                            (click)="removeFollow(user._id)"
                        >
                            <div *ngIf="user._id === followUserOver; else following">
                                <span><em class="bi bi-dash-circle-fill"></em></span>
                                <span>Unfollow</span>
                            </div>
                            <ng-template #following>
                                <span><em class="bi bi-check-circle-fill"></em></span>
                                <span>Following</span>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination pull-right">
            <li *ngIf="currentPage > 1">
                <a [routerLink]="['/private/people', previousPage]">Previous</a>
            </li>

            <li *ngIf="totalPages && totalPages !== currentPage">
                <a [routerLink]="['/private/people', nextPage]">Next</a>
            </li>
        </ul>
    </div>
</div>
