a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    :hover {
        background-color: rgba(255, 166, 0, 0.199);
    }
}

input[type='file'] {
    font-size: small;
    width: 11rem;
}

.user-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    padding: 1em 0;
    .avatar-name {
        display: flex;
        flex-direction: row;
        & > div {
            margin: 0 0.25em;
        }
    }
    .name-surname {
        font-weight: bold;
    }
    .nickname {
        font-style: italic;
        font-weight: normal;
    }
    .avatar {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2em;
        margin: 0 0.25rem;
        overflow: hidden;
        position: relative;
        img {
            display: block;
            height: 100%;
            position: absolute;
            margin: auto;
            top: -100%;
            right: -100%;
            bottom: -100%;
            left: -100%;
        }
    }
    .stats {
        margin: 1em 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        grid-column-gap: 0.25rem;
        & > div {
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .label-stats {
            font-weight: 500;
        }
    }
}
