<div class="container">
    <div class="user-sidebar panel-default pull-left">
        <div *ngIf="status === FormStatus.Valid" class="alert alert-success">
            <span>Publication created successfully.</span>
        </div>
        <div *ngIf="status === FormStatus.Invalid" class="alert alert-danger">
            <div>
                <span>Info: {{ errMsg }}</span>
            </div>
            <div><span>The publication creation process has failed. Try again.</span></div>
        </div>

        <h2>{{ title }}</h2>

        <div class="avatar-name">
            <div class="avatar">
                <div *ngIf="identity?.image">
                    <img alt="" src="{{ identityImageSource }}" />
                </div>
                <div *ngIf="!identity?.image">
                    <img alt="" src="assets/img/default-avatar.png" />
                </div>
            </div>
            <div class="name-surname">
                <a [routerLink]="['/private/profile', identity?._id]"> {{ identity?.name }} {{ identity?.surname }} </a>
                <div class="nickname">
                    <span>{{ identity?.nick }}</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div *ngIf="counterSet" class="stats">
            <div class="followers-data">
                <a routerLink="/private/follower-list" [queryParams]="{ user: identity?._id }">
                    <span class="label-stats"> Followers </span>
                </a>
                <span class="number-stats"> {{ counterSet.followerCount }} </span>
            </div>
            <div class="following-data">
                <a routerLink="/private/following-list" [queryParams]="{ user: identity?._id }">
                    <span class="label-stats"> Following </span>
                </a>
                <span class="number-stats"> {{ counterSet.followingCount }} </span>
            </div>
            <div class="publications-data">
                <a [routerLink]="['/private/profile', identity?._id]"> <span class="label-stats"> Publications </span> </a>
                <span class="number-stats"> {{ counterSet.publications }} </span>
            </div>
        </div>
    </div>

    <div class="form-container publication-form">
        <form [formGroup]="publicationForm" (ngSubmit)="onSubmit(publicationForm)">
            <div>
                <div>
                    <label>
                        What are you thinking today?
                        <textarea formControlName="text" placeholder="" [class.invalid]="isInvalidControl('text')"></textarea>
                    </label>
                    <div>
                        <small *ngIf="isInvalidControl('text')">* Publication text is mandatory</small>
                    </div>
                </div>
                <div>
                    <label>
                        Image:
                        <input type="file" formControlName="file" (change)="onFileSelected($event)" />
                    </label>
                </div>
                <div class="button">
                    <button class="btn btn-success" type="submit" [disabled]="publicationForm.invalid">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>
