<div class="navigation col-lg-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    <div>
                        <img class="logo" alt="social-network" src="../../../../assets/img/logo.png" />
                        <span>{{ title }}</span>
                    </div>
                </a>
            </div>

            <ul class="nav">
                <li class="nav-item">
                    <a href="#">
                        <em class="bi bi-house-fill"></em>
                        <span>Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#">
                        <em class="bi bi-list-ul"></em>
                        <span>Timeline</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/register">
                        <em class="bi bi-people-fill"></em>
                        <span>Users</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
