<div>
    <h2>Component {{ name }}</h2>
</div>

<div class="grid">
    <div>
        <span>
            <strong>Best 2019 game:</strong>
            {{ bestGame2019 }}
        </span>
    </div>
    <div *ngIf="retroShow">
        <span>
            <strong>Retro game:</strong>
            {{ retroGame }}
        </span>
    </div>
    <div>
        <span>
            <strong>Game Awards 2022 - My Nominees:</strong>
            <ul>
                <li *ngFor="let game of games2022">{{ game }}</li>
            </ul>
        </span>
    </div>
</div>
