<div class="container col-lg-12">
    <div class="jumbotron">
        <h1 class="h1-strong">{{ title }}</h1>
        <div>
            War has changed. It's no longer about nations, ideologies, or ethnicity. It's an endless series of proxy battles fought by
            mercenaries and machines. War - and its consumption of life - has become a well-oiled machine. War has changed. ID-tagged
            soldiers carry ID-tagged weapons, use ID-tagged gear. Nanomachines inside their bodies enhance and regulate their abilities.
            Genetic control. Information control. Emotion control. Battlefiled control. Everything is monitored and kept under control. War
            has changed. The age of deterrence has become the age of control...All in the name of averting catastrophe from weapons of mass
            destruction. And he who controls the battlefield...controls history. War has changed. When the battlefield is under total
            control...War becomes routine
        </div>
        <div *ngIf="token" class="btn-container">
            <a routerLink="/private/settings" class="btn btn-success btn-lg" role="button"> User </a>
            <a routerLink="/private/timeline" class="btn btn-primary btn-lg" role="button"> Timeline </a>
            <a routerLink="/private/people" class="btn btn-secondary btn-lg" role="button"> People </a>
        </div>
        <div *ngIf="!token" class="btn-container">
            <a routerLink="/login" class="btn btn-success btn-lg" role="button"> Login </a>
            <a routerLink="/register" class="btn btn-primary btn-lg" role="button"> Register </a>
        </div>
    </div>
</div>
