div {
}
.container {
    display: flex;
    justify-content: center;
}
.jumbotron {
    background-color: antiquewhite;
    margin: 1rem;
    padding: 3rem;
    border-radius: 2rem;
    .btn-container {
        display: flex;
        justify-content: center;
        & > * {
            border: 2px solid;
            margin: 1rem;
        }
    }
}
