<div class="form-container col-lg-12">
    <h1 class="h1-strong">{{ title }} {{ user?.nick }}</h1>

    <div *ngIf="status === FormStatus.Invalid" class="alert alert-danger">
        <div>
            <span>Info: {{ errMsg }}</span>
        </div>
    </div>

    <div class="people">
        <div *ngFor="let follow of follows">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-item user-image pull-left">
                        <a href="#">
                            <div *ngIf="userFromFollow(follow)?.image">
                                <img alt="" src="{{ api + '/user/image/' + userFromFollow(follow).image }}" />
                            </div>
                            <div *ngIf="!userFromFollow(follow)?.image">
                                <img alt="" src="assets/img/default-avatar.png" />
                            </div>
                        </a>
                    </div>
                    <div class="panel-item user-name pull-left">
                        <a [routerLink]="['/private/profile', userFromFollow(follow)._id]">
                            <div class="name">
                                <span>{{ userFromFollow(follow).name }} {{ userFromFollow(follow).surname }}</span>
                            </div>
                            <div class="nick">
                                <small> {{ userFromFollow(follow).nick }}</small>
                            </div>
                        </a>
                    </div>
                    <div class="panel-item user-name pull-right">
                        <button
                            *ngIf="!isUserLogged(userFromFollow(follow)) && !isFollowing(userFromFollow(follow))"
                            class="btn btn-success"
                            (click)="createFollow(userFromFollow(follow)._id)"
                        >
                            <span><em class="bi bi-plus-circle-fill"></em></span>
                            <span>Follow</span>
                        </button>
                        <button
                            *ngIf="!isUserLogged(userFromFollow(follow)) && isFollowing(userFromFollow(follow))"
                            class="btn"
                            [ngClass]="userFromFollow(follow)._id === followUserOver ? 'btn-danger' : 'btn-primary'"
                            (mouseenter)="mouseEnter(userFromFollow(follow))"
                            (mouseleave)="mouseLeave()"
                            (click)="removeFollow(userFromFollow(follow)._id)"
                        >
                            <div *ngIf="userFromFollow(follow)._id === followUserOver; else following">
                                <span><em class="bi bi-dash-circle-fill"></em></span>
                                <span>Unfollow</span>
                            </div>
                            <ng-template #following>
                                <span><em class="bi bi-check-circle-fill"></em></span>
                                <span>Following</span>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination pull-right">
            <li *ngIf="currentPage > 1">
                <a [routerLink]="[navigationURL, previousPage]" [queryParams]="{ user: userPageId }">Previous</a>
            </li>

            <li *ngIf="totalPages && totalPages !== currentPage">
                <a [routerLink]="[navigationURL, nextPage]" [queryParams]="{ user: userPageId }">Next</a>
            </li>
        </ul>
    </div>
</div>
