<div class="form-container col-lg-12">
    <h1 class="h1-strong">{{ title }}</h1>
    <button class="btn btn-warning btn-sm" (click)="reloadPublications()"><em class="bi bi-arrow-clockwise"></em></button>

    <div *ngIf="status === FormStatus.Invalid" class="alert alert-danger">
        <div>
            <span>Info: {{ errMsg }}</span>
        </div>
    </div>

    <div class="timeline">
        <div *ngFor="let publication of publications; let index = index" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="publication-header">
                        <div class="panel-item publication-user-image pull-left">
                            <a href="#">
                                <div *ngIf="userFromPublication(publication).image">
                                    <img alt="" src="{{ api + '/user/image/' + userFromPublication(publication).image }}" />
                                </div>
                                <div *ngIf="!userFromPublication(publication).image">
                                    <img alt="" src="assets/img/default-avatar.png" />
                                </div>
                            </a>
                        </div>
                        <div>
                            <h4>
                                <a *ngIf="!isProfileView" [routerLink]="['/private/profile', userFromPublication(publication)._id]">
                                    <span>
                                        {{ userFromPublication(publication).name }} {{ userFromPublication(publication).surname }}
                                    </span>
                                </a>
                                <span *ngIf="isProfileView">
                                    {{ userFromPublication(publication).name }} {{ userFromPublication(publication).surname }}
                                </span>
                            </h4>
                        </div>
                        |
                        <div class="date">
                            <small>{{ publication.createdAt | amLocale : 'en' | amTimeAgo }}</small>
                        </div>
                    </div>
                    <div class="publication-text pull-left">
                        {{ publication.text }}
                    </div>

                    <div class="btn-img-container">
                        <div class="btn-container">
                            <button
                                *ngIf="publication.file"
                                class="btn btn-sm btn-warning"
                                [class.btn-dark]="publicationImagesToShow[index] === publication._id"
                                (click)="showImage(publication._id, index)"
                            >
                                <em *ngIf="publicationImagesToShow[index] !== publication._id" class="bi bi-card-image"></em>
                                <em *ngIf="publicationImagesToShow[index] === publication._id" class="bi bi-x-circle-fill"></em>
                            </button>

                            <!-- Button trigger modal -->
                            <button
                                *ngIf="userFromPublication(publication)._id === identity?._id"
                                class="btn btn-sm btn-danger"
                                data-bs-toggle="modal"
                                [attr.data-bs-target]="'#removePublicationModal' + publication._id"
                            >
                                <em class="bi bi-trash-fill"></em>
                            </button>

                            <!-- Modal -->
                            <div
                                class="modal fade"
                                id="removePublicationModal{{ publication._id }}"
                                tabindex="-1"
                                aria-labelledby="removePublicationModalLabel"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="removePublicationModalLabel">
                                                Are you sure to delete this publication?
                                            </h5>
                                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>You will not be able to recover a publication once deleted.</p>
                                            <p>{{ publication.text }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button
                                                (click)="removePublication(publication._id)"
                                                data-bs-dismiss="modal"
                                                class="btn btn-danger"
                                            >
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="publicationImagesToShow[index] === publication._id" class="publication-image">
                            <img alt="" src="{{ api + '/publication/image/' + publication.file }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button *ngIf="showMorePublications" class="btn btn-success" (click)="showMore()">Show more</button>
    </div>
</div>
