<div class="form-container col-lg-12">
    <h1 class="h1-strong">{{ title }}</h1>
    <button class="btn btn-warning btn-sm" (click)="reloadPublications()"><em class="bi bi-arrow-clockwise"></em></button>

    <div *ngIf="status === FormStatus.Invalid" class="alert alert-danger">
        <div>
            <span>Info: {{ errMsg }}</span>
        </div>
    </div>

    <div class="timeline">
        <div *ngFor="let publication of publications; let index = index" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="publication-header">
                        <div class="panel-item publication-user-image pull-left">
                            <a href="#">
                                <div *ngIf="userFromPublication(publication).image">
                                    <img alt="" src="{{ api + '/user/image/' + userFromPublication(publication).image }}" />
                                </div>
                                <div *ngIf="!userFromPublication(publication).image">
                                    <img alt="" src="assets/img/default-avatar.png" />
                                </div>
                            </a>
                        </div>
                        <div>
                            <h4>
                                <a *ngIf="!isProfileView" [routerLink]="['/private/profile', userFromPublication(publication)._id]">
                                    <span>
                                        {{ userFromPublication(publication).name }} {{ userFromPublication(publication).surname }}
                                    </span>
                                </a>
                                <span *ngIf="isProfileView">
                                    {{ userFromPublication(publication).name }} {{ userFromPublication(publication).surname }}
                                </span>
                            </h4>
                        </div>
                        |
                        <div class="date">
                            <small>{{ publication.createdAt | amLocale : 'en' | amTimeAgo }}</small>
                        </div>
                    </div>
                    <div class="publication-text pull-left">
                        {{ publication.text }}
                    </div>

                    <div *ngIf="publication.file" class="img-container">
                        <div class="btn-container">
                            <button
                                class="btn btn-warning"
                                [class.btn-dark]="publicationImagesToShow[index] === publication._id"
                                (click)="showImage(publication._id, index)"
                            >
                                <em *ngIf="publicationImagesToShow[index] !== publication._id" class="bi bi-card-image"></em>
                                <em *ngIf="publicationImagesToShow[index] === publication._id" class="bi bi-x-circle-fill"></em>
                            </button>
                        </div>
                        <div *ngIf="publicationImagesToShow[index] === publication._id" class="publication-image">
                            <img alt="" src="{{ api + '/publication/image/' + publication.file }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button *ngIf="showMorePublications" class="btn btn-success" (click)="showMore()">Show more</button>
    </div>
</div>
