<div class="form-container col-lg-12">
    <h1 class="h1-strong">{{ title }}</h1>

    <div *ngIf="status === FormStatus.Invalid" class="alert alert-danger">
        <div>
            <span>Info: {{ errMsg }}</span>
        </div>
    </div>

    <div class="timeline">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-item publication-image pull-left">
                        <a href="#">
                            <div *ngIf="userFromPublication(publication).image">
                                <img alt="" src="{{ api + '/user/image/' + userFromPublication(publication).image }}" />
                            </div>
                            <div *ngIf="!userFromPublication(publication).image">
                                <img alt="" src="assets/img/default-avatar.png" />
                            </div>
                        </a>
                    </div>
                    <div>
                        <h4>{{ userFromPublication(publication).name }} {{ userFromPublication(publication).surname }}</h4>
                    </div>
                    <div class="publication-text pull-left">
                        {{ publication.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
