<div class="container">
    <div class="col-lg-4">
        <h3 class="h1-strong">{{ title }}</h3>
        <div class="sidebar-admin">
            <ul class="nav flex-column">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" routerLink="/private/messaging/sending" routerLinkActive="active">Send message</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" routerLink="/private/messaging/received" routerLinkActive="active">Received messages</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" routerLink="/private/messaging/sent" routerLinkActive="active">Sent messages</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" routerLink="/">Information</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-8">
        <router-outlet></router-outlet>
    </div>
</div>
