<div class="col-lg-4">
    <h3 class="h1-strong">{{ title }}</h3>
    <div class="sidebar-admin">
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
            <li role="presentation">
                <a href="#">Send message</a>
            </li>
            <li role="presentation">
                <a href="#">Received messages</a>
            </li>
            <li role="presentation">
                <a href="#">Sent messages</a>
            </li>
            <li role="presentation">
                <a href="#">Information</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-lg-8">
    <!-- components router outlet-->
</div>
